body.quantum-body {
  /* 字体族变量 */
  --font-family-en: 'vertu-en', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --font-family-ak: 'vertu-ak', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

  /* 字体颜色变量 */
  --color-primary: rgb(255, 255, 255);
  --color-secondary: rgb(134, 134, 139);
  --color-accent: rgb(231, 202, 172);
  --color-dark: rgb(17, 16, 16);
  --color-bg-dark: rgb(15, 15, 15);

  /* 字体大小变量 - PC端 */
  --font-size-h1: 48px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-h4: 20px;
  --font-size-p-large: 24px;
  --font-size-p-medium: 21px;
  --font-size-p-normal: 16px;
  --font-size-p-small: 14px;

  /* 行高变量 */
  --line-height-h1: 1.8;
  --line-height-h2: 35px;
  --line-height-p-large: 31px;
  --line-height-p-medium: 27px;
  --line-height-p-normal: 21px;
  --line-height-p-small: 18px;

  background-color: var(--color-bg-dark);
  padding-bottom: 20px;
}

/* ----------------- 通用样式 ------------------ */
/* 内容包装器 */
.common-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.common-wrapper-narrow {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/* 标题通用样式 */
.common-title {
  color: var(--color-primary);
  font-family: var(--font-family-en);
  font-size: var(--font-size-h2);
  font-weight: 400;
  line-height: var(--line-height-h2);
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

/* 段落通用样式 */
.common-text {
  color: var(--color-secondary);
  font-family: var(--font-family-ak);
  font-size: var(--font-size-p-normal);
  font-weight: 400;
  line-height: var(--line-height-p-normal);
  letter-spacing: 0px;
  text-align: center;
}

/* 顶部横幅区域 - 全宽 */
.hero-banner {
  height: 810px;
  width: 100%;
  background-image: url('../images/quantum-banner.png');
  background-size: cover;
  background-position: center;
}

.banner-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 90px 0 40px 0;
}
.banner-content .logo-title {
  text-align: center;
}

.logo-title h1 {
  background: linear-gradient(180deg, rgb(0, 0, 0), rgb(158, 169, 180), rgb(195, 206, 217));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: var(--font-family-en);
  font-size: var(--font-size-h1);
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.logo-title p {
  color: rgb(0, 0, 0);
  font-family: var(--font-family-ak);
  font-size: var(--font-size-p-large);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0px;
  text-align: center;
}

.banner-content .explore-btn {
  width: 144px;
  height: 39px;
  line-height: 39px;
  border-radius: 5px;
  background: var(--color-primary);
  cursor: pointer;

  color: var(--color-dark);
  font-family: var(--font-family-en);
  font-size: var(--font-size-p-normal);
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.explore-btn:hover {
  /* TODO: 按钮hover 样式 */
  background-color: var(--color-primary);
  color: var(--color-dark);
}

/* 量子视界区域 */
.quantum-agape {
  text-align: center;
  background-color: var(--color-bg-dark);
  padding: 0;
  min-height: 317px;
  overflow: hidden;
}
.quantum-agape .content-wrapper {
  margin-top: 150px;
  margin-bottom: 60px;
}
.quantum-agape .content-wrapper h2 {
  color: var(--color-primary);
  font-family: var(--font-family-en);
  font-size: var(--font-size-h2);
  font-weight: 400;
  line-height: var(--line-height-h2);
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.quantum-agape .content-wrapper p {
  max-width: 868px;
  margin: 0 auto;
  color: var(--color-secondary);
  font-family: var(--font-family-ak);
  font-size: var(--font-size-p-normal);
  font-weight: normal;
  line-height: var(--line-height-p-normal);
  letter-spacing: 0px;
  text-align: center;
}

/* 天体黎明区域 */
.celestial-dawn {
  width: 100%;
  position: relative;
}
.celestial-dawn .celestial-dawn-bg {
  width: 100%;
  height: 810px;
  background-image: url('../images/celestial-dawn.png');
  background-size: cover;
  background-position: center;
}
.celestial-dawn-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.celestial-dawn .content-wrapper {
  height: 100%;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.celestial-dawn .content-wrapper .feature-text {
  max-width: 500px;
  margin-left: 226px;
  text-align: left;
}

.celestial-dawn .content-wrapper .feature-text h2 {
  color: var(--color-primary);
  font-family: var(--font-family-en);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.celestial-dawn .content-wrapper .feature-text p {
  margin-top: 30px;
  color: var(--color-primary);
  font-family: var(--font-family-ak);
  font-size: var(--font-size-p-large);
  font-weight: 400;
  line-height: var(--line-height-p-large);
  letter-spacing: 0px;
  text-align: left;
}

.content-wrapper h2 {
  color: var(--color-primary);
}
.content-wrapper p {
  color: var(--color-primary);
}

/* 添加左右滑动控制按钮 */
.slide-controls {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 60px;
  z-index: 10;
}

.prev-slide,
.next-slide {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-radius: 20px;
  background: #1e1e1e;
  color: #535252;
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.prev-slide:hover,
.next-slide:hover {
  transform: scale(1.1);
  color: var(--color-primary);
  background-color: #232323;
}
.prev-slide:focus,
.next-slide:focus {
  outline: none;
}

.manao-image-section {
  width: 100%;
  height: 810px;
}
.manao-photo-section {
  width: 100%;
}
.manao-photo-section .manao-content {
  position: relative;
  height: 810px;
}
.photo-text {
  position: absolute;
  left: 50%;
  top: 0%;

  white-space: nowrap;
  color: var(--color-primary);
  font-family: var(--font-family-ak);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}
.photo-text-1 {
  width: 300px;
  text-align: right;
  transform: translate(-637px, 86px);
}
.photo-text-2 {
  width: 300px;
  text-align: right;
  transform: translate(-644px, 231px);
}
.photo-text-3 {
  width: 300px;
  text-align: right;
  transform: translate(-633px, 371px);
}
.photo-text-4 {
  width: 300px;
  text-align: left;
  transform: translate(435px, 86px);
}
.photo-text-5 {
  width: 300px;
  text-align: left;
  transform: translate(443px, 301px);
}
.manao-content {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.manao-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* 产品模式展示区 */
.patterns-section {
  text-align: center;
  padding: 80px 0 150px 0;
}

.patterns-section .content-wrapper {
  width: 1264px;
  margin: 0 auto;
}

.pattern-cards {
  height: 111px;
  border-top: 1px solid rgb(30, 30, 30);
  border-bottom: 1px solid rgb(30, 30, 30);
  padding: 0 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.pattern-card {
  flex: 1;
  min-width: 200px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s ease;
}

.pattern-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.pattern-card h3 {
  line-height: 23px;
  color: var(--color-accent);
  font-family: var(--font-family-ak);
  font-size: var(--font-size-h4);
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  white-space: nowrap;
}

.pattern-card p {
  margin-top: 8px;
  line-height: 18px;
  color: var(--color-primary);
  font-family: var(--font-family-ak);
  font-size: var(--font-size-p-small);
  font-weight: 400;
  line-height: var(--line-height-p-small);
  letter-spacing: 0px;
  text-align: center;
  text-transform: capitalize;
}

/* 工程与艺术区域 */
.engineering-artistry {
  height: 700px;
  width: 1120px;
  position: relative;
  margin: 0 auto;
}
.engineering-wrapper {
  height: 700px;
  width: 1120px;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.engineering-left {
  width: 600px;
  height: 700px;
}
.engineering-left image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.engineering-right {
  width: 520px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.engineering-right .engineering-content {
  position: relative;
  z-index: 2;
  margin-left: 100px;
}

.engineering-content h2 {
  color: var(--color-primary);
  font-family: var(--font-family-en);
  font-size: var(--font-size-h2);
  font-weight: 400;
  line-height: var(--line-height-h2);
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
}
.engineering-content p {
  margin-top: 6px;
  color: var(--color-accent);
  font-family: var(--font-family-ak);
  font-size: var(--font-size-p-normal);
  font-weight: 400;
  line-height: var(--line-height-p-normal);
  letter-spacing: 0px;
  text-align: left;
}

.engineering-content ul {
  margin-top: 24px;
  list-style: none;
}

.engineering-content li {
  margin-bottom: 6px;
  color: var(--color-primary);
  font-family: var(--font-family-ak);
  font-size: var(--font-size-p-small);
  font-weight: 400;
  line-height: var(--line-height-p-small);
  letter-spacing: 0px;
  text-align: left;
  text-transform: capitalize;
  list-style: none;
  position: relative;
  padding-left: 12px;
  white-space: nowrap;
}

.engineering-content li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 9px;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--color-primary);
}

/* 视频展示区 */
.video-showcase {
  padding-top: 150px;
}
.video-showcase .content-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.video-placeholder {
  width: 100%;
  height: 700px;
  background: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.video-placeholder .video-showcase-video-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.video-placeholder .video-showcase-video-container.active {
  opacity: 1;
  visibility: visible;
}
.video-placeholder .video-showcase-video-container video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.play-video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 72px;
  height: 60px;
  color: var(--color-primary);
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.video-showcase .play-video-icon.hidden {
  display: none;
}

.video-placeholder:hover .play-video-icon {
  opacity: 1;
}
.play-video-icon:hover {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.05);
}
.play-video-icon:focus {
  outline: none;
}

/* VPS区域 */
.vps-section {
  padding-top: 150px;
}

.vps-section .content-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.vps-section h2 {
  color: var(--color-primary);
  font-family: var(--font-family-en);
  font-size: var(--font-size-h2);
  font-weight: 400;
  line-height: var(--line-height-h2);
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.vps-features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 150px;
}

.vps-feature-text {
  width: 439px;
}

.vps-feature-text p {
  color: var(--color-primary);
  font-family: var(--font-family-ak);
  font-size: var(--font-size-p-large);
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.vps-stats {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.stat {
  margin-bottom: 40px;
  flex: 1;
}

.stat h3 {
  color: var(--color-accent);
  font-family: var(--font-family-ak);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 8px;
}

.stat-number,
.stat-label {
  color: var(--color-primary);
  font-family: var(--font-family-ak);
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 5px;
  white-space: nowrap;
}

.stat p {
  color: var(--color-secondary);
  font-family: var(--font-family-ak);
  font-size: var(--font-size-p-medium);
  font-weight: 400;
  line-height: var(--line-height-p-medium);
  letter-spacing: 0px;
  text-align: left;
}

/* AI暗房大师区域 */
.ai-darkroom {
  padding: 120px 0;
  text-align: center;
}

.ai-darkroom h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  font-weight: 200;
  letter-spacing: 3px;
}

.ai-darkroom p {
  margin-bottom: 80px;
  font-size: 1.1rem;
  color: #ddd;
  line-height: 1.8;
}

.camera-features {
  display: flex;
  justify-content: center;
  position: relative;
  height: 500px;
}

.camera-image {
  width: 300px;
  height: 450px;
  background-image: url('../images/camera-phone.png');
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.camera-specs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.spec {
  position: absolute;
  display: flex;
  align-items: center;
}

.spec.left {
  left: calc(50% - 350px);
  text-align: right;
  justify-content: flex-end;
}

.spec.right {
  right: calc(50% - 350px);
  text-align: left;
  justify-content: flex-start;
}

.spec-label {
  font-size: 0.9rem;
  color: #ddd;
  width: 200px;
}

.spec-line {
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: #555;
  margin: 0 15px;
}

/* 超越地球边界区域 */
.beyond-earth {
  margin-top: 150px;
  text-align: center;
}

.beyond-earth .content-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.beyond-earth h2 {
  color: var(--color-primary);
  font-family: var(--font-family-en);
  font-size: var(--font-size-h2);
  font-weight: 400;
  line-height: var(--line-height-h2);
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.beyond-earth p {
  color: var(--color-secondary);
  font-family: var(--font-family-ak);
  font-size: var(--font-size-p-normal);
  font-weight: 400;
  line-height: var(--line-height-p-normal);
  letter-spacing: 0px;
  text-align: center;
}

.beyond-earth .feature-showcase {
  margin-top: 60px;
}

.feature-placeholder {
  width: 100%;
  height: 810px;
  background-image: url('../images/beyond-earth.jpeg');
  background-size: cover;
  background-position: center;
}

.feature-footer {
  max-width: 1200px;
  margin: 70px auto 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.feature-tips {
  margin-top: 50px;
  color: var(--color-secondary);
  font-family: var(--font-family-ak);
  font-size: 14px;
  font-weight: 400;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.feature-item {
  flex: 1;
  min-width: 200px;
  padding: 0 20px;
}

.feature-item h3 {
  color: var(--color-primary);
  font-family: var(--font-family-ak);
  font-size: var(--font-size-p-large);
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
  line-height: 29px;
  margin-bottom: 2px;
  text-align: center;
}

.feature-item p {
  color: var(--color-secondary);
  font-family: var(--font-family-ak);
  font-size: var(--font-size-p-small);
  font-weight: 400;
  line-height: var(--line-height-p-small);
  letter-spacing: 0px;
  text-align: center;
}

/* 添加动画效果 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section {
  animation: fadeIn 1s ease-out;
}

.features-translator {
  width: 100%;
  padding-top: 150px;
}

.feature-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.translator-window {
  width: 1100px;
  height: 700px;
  background-image: url('../images/chat-window.png');
  background-size: cover;
  background-position: center;
}

.features-translator .feature-text {
  width: 600px;
  height: 700px;
}

.features-translator .feature-text {
  padding-left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.features-translator .feature-content-title {
  display: none;
}
.features-translator .feature-text h2 {
  color: var(--color-primary);
  font-family: var(--font-family-en);
  font-size: var(--font-size-h2);
  font-weight: 400;
  line-height: var(--line-height-h2);
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.features-translator .feature-text p {
  color: var(--color-secondary);
  font-family: var(--font-family-ak);
  font-size: var(--font-size-p-normal);
  font-weight: 400;
  line-height: var(--line-height-p-normal);
  letter-spacing: 0px;
  text-align: left;
}

/* 特性展示区域样式 */
.features-showcase {
  color: var(--color-primary);
  padding: 120px 0;
}

/* AI翻译功能区块 */
.feature-block {
  /* width: 1200px; */
  width: 872px;
  margin: 0 auto;
}

.feature-block > h2 {
  color: var(--color-primary);
  font-family: var(--font-family-en);
  font-size: var(--font-size-h2);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.display-feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.display-feature.exterior {
  margin-top: 60px;
  height: 500px;
}
.display-feature.interior {
  margin-top: 60px;
  height: 350px;
}
.display-feature.coating {
  margin-top: 60px;
  height: 500px;
}

.feature-image {
  flex: 1;
  background: rgb(18, 18, 18);
  border-radius: 20px;
  overflow: hidden;
}

.feature-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.display-feature-text {
  width: 436px;
}
.display-feature-text h3 {
  color: var(--color-accent);
  font-family: var(--font-family-ak);
  font-size: var(--font-size-h4);
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}
.display-feature-text h4 {
  margin-top: 2px;
  color: var(--color-primary);
  font-family: var(--font-family-ak);
  font-size: var(--font-size-p-large);
  font-weight: 400;
  line-height: var(--line-height-p-large);
  letter-spacing: 0px;
  text-align: left;
}
.display-feature-text p {
  margin-top: 14px;
  color: var(--color-secondary);
  font-family: var(--font-family-ak);
  font-size: var(--font-size-p-normal);
  font-weight: 400;
  line-height: var(--line-height-p-normal);
  letter-spacing: 0px;
  text-align: left;
}

/* 保密功能区块 */
.feature-block.confidential {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-top: 100px;
}

.confidential .feature-image {
  flex: 1;
  height: 100%;
  position: relative;
}

.confidential .feature-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.confidential .feature-content {
  flex: 1;
}

.learn-more {
  padding: 12px 30px;
  background: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 30px;
}

.learn-more:hover {
  background: var(--color-primary);
  color: var(--color-dark);
}

/* 基础移动端适配 */
@media screen and (max-width: 768px) {
  .quantum-body {
    overflow-x: hidden;

    /* 移动端字体大小变量 */
    /* --font-size-h1: 32px;
    --font-size-h2: 24px;
    --font-size-h3: 20px;
    --font-size-h4: 16px;
    --font-size-p-large: 18px;
    --font-size-p-medium: 16px;
    --font-size-p-normal: 16px;
    --font-size-p-small: 12px; */

    /* 移动端行高变量 */
    /* --line-height-h1: 1.4;
    --line-height-h2: 26px;
    --line-height-p-large: 23px;
    --line-height-p-medium: 21px;
    --line-height-p-normal: 21px;
    --line-height-p-small: 16px; */
  }
  .quantum-body > section {
    padding-left: 7.47vw;
    padding-right: 7.47vw;
  }

  .quantum-body > section.celestial-dawn {
    padding-left: 0;
    padding-right: 0;
  }
  .quantum-body > .manao-photo-section {
    padding-left: 0;
    padding-right: 0;
  }
  .hero-banner {
    height: 535px;
  }
  .celestial-dawn .celestial-dawn-bg {
    height: 535px;
  }

  .feature-placeholder {
    height: 535px;
    border-radius: 10px;
  }
  .feature-footer .feature-item {
    margin-top: 32px;
  }
  .feature-footer .feature-item:first-child {
    margin-top: 0px;
  }
  .manao-image-section {
    height: 535px;
  }
  .manao-image-section .manao-content.isfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* 顶部横幅区域 */
  .hero-banner {
    /* height: 100vh; */
    /* min-height: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .banner-content {
    padding: 0px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .logo-title h1 {
    font-size: 32px;
    line-height: 1.4;
    margin-top: 40px;
  }

  .logo-title p {
    font-size: 18px;
    margin-top: 10px;
  }

  .banner-content .explore-btn {
    margin-bottom: 40px;
    width: 180px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
  }

  /* 量子视界区域 */
  .quantum-agape {
    min-height: auto;
  }

  .quantum-agape .content-wrapper {
    margin: 72px 0 24px 0;
  }

  .quantum-agape .content-wrapper h2 {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 26px;
  }

  .quantum-agape .content-wrapper p {
    font-size: 16px;
    line-height: 21px;
    padding: 0;
  }

  /* 天体黎明区域 */
  .celestial-dawn .celestial-dawn-content {
    position: relative;
    width: 100%;
    height: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .celestial-dawn .celestial-dawn-content .slide-controls {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    transform: none;
    padding: 0 20px;
  }

  .celestial-dawn .celestial-dawn-content .prev-slide,
  .celestial-dawn .celestial-dawn-content .next-slide {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: rgb(30, 30, 31);
    /* color: var(--color-primary); */
    color: #838383;

    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .celestial-dawn .content-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .celestial-dawn .content-wrapper .feature-text {
    margin: 0;
    padding-left: 32px;
    max-width: 100%;
    text-align: center;
  }

  .celestial-dawn .content-wrapper .feature-text h2 {
    font-size: 22px;
    line-height: 23px;
    text-align: left;
  }

  .celestial-dawn .content-wrapper .feature-text p {
    font-size: var(--font-size-p-normal);
    line-height: var(--line-height-p-normal);
    margin-top: 8px;
    text-align: left;
    color: var(--color-secondary);
  }

  /* 滑动控制按钮 */
  .slide-controls {
    position: absolute;
    bottom: 20px;
    top: auto;
    left: 0;
    right: 0;
    transform: none;
    padding: 0 20px;
  }

  /* 图片区域 */
  .manao-image-section {
    min-height: 300px;
  }
  .manao-image-section .manao-content img {
    /* object-fit: contain; */
    border-radius: 10px;
  }
  /* 产品模式展示区 */
  .patterns-section {
    padding: 40px 20px;
  }

  .patterns-section .content-wrapper {
    width: 100%;
  }

  .pattern-cards {
    height: auto;
    flex-direction: column;
    padding: 32px 0px;
  }

  .pattern-card {
    width: 100%;
    min-width: auto;
    padding: 0px;
    margin-bottom: 48px;
  }
  .pattern-card:last-child {
    margin-bottom: 0px;
  }

  .pattern-card h3 {
    font-size: var(--font-size-h4);
    line-height: 26px;
    margin-bottom: 4px;
  }
  .pattern-card p {
    margin-top: 0px;
    font-size: var(--font-size-p-normal);
    line-height: var(--line-height-p-normal);
  }

  /* 工程与艺术区域 */
  .engineering-artistry {
    padding: 40px 20px;
    width: 100%;
    height: auto;
  }

  .engineering-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .engineering-left {
    height: 424px;
  }
  .engineering-left img {
    border-radius: 10px;
  }
  .engineering-left,
  .engineering-right {
    width: 100%;
  }

  .engineering-right .engineering-content {
    margin-left: 0;
    padding: 0;
  }

  .engineering-content h2 {
    white-space: wrap;
    margin-top: 24px;
    font-size: var(--font-size-h3);
  }

  .engineering-content p {
    font-size: var(--font-size-p-normal);
  }

  .engineering-content ul {
    padding-left: 0px;
  }
  .engineering-content ul li {
    white-space: wrap;
  }

  /* VPS区域 */
  .vps-section {
    padding-top: 72px;
  }

  .features-showcase .feature-block h2,
  .beyond-earth h2,
  .vps-section h2 {
    margin-bottom: 24px;
    font-size: var(--font-size-h3);
    line-height: 26px;
  }

  .vps-features {
    flex-direction: column;
    gap: 48px;
  }

  .vps-feature-text {
    width: 100%;
  }

  .vps-feature-text p {
    font-size: var(--font-size-p-normal);
    line-height: 1.6;
  }

  .vps-stats {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .vps-stats .stat {
    margin-bottom: 32px;
  }
  .vps-stats h3 {
    color: var(--color-secondary);
    font-size: var(--font-size-p-normal);
    margin-bottom: 4px;
  }
  .vps-stats .stat-number,
  .vps-stats .stat-label {
    color: var(--color-primary);
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 6px;
  }
  .vps-stats p {
    font-size: 18px;
    line-height: 23px;
  }
  /* 特性展示区 */
  .features-showcase {
    margin-top: 72px;
    padding: 0px;
  }

  .features-showcase .feature-block {
    width: 100%;
  }
  .features-showcase .feature-block h2 {
    margin-bottom: 24px;
  }
  .features-showcase .feature-block .feature-image {
    width: 100%;
    height: 400px;
  }

  .features-showcase .feature-block .feature-image img {
    object-fit: cover;
    height: 400px;
    border-radius: 10px;
  }

  .display-feature.exterior {
    margin-top: 0px;
  }
  .display-feature.interior {
    margin-top: 48px;
    flex-direction: column-reverse;
    height: auto;
    gap: 24px;
  }
  .display-feature.interior .feature-image img {
    height: 300px;
  }

  .display-feature.exterior,
  .display-feature.coating {
    height: auto;
    margin-top: 24px;
    flex-direction: column;
    gap: 24px;
  }

  .feature-image {
    width: 100%;
    margin: 0;
  }

  .display-feature-text {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .display-feature-text h3 {
    font-size: var(--font-size-p-normal);
    line-height: var(--line-height-p-normal);
  }

  .display-feature-text h4 {
    margin-top: 4px;
    font-size: var(--font-size-h4);
    line-height: 26px;
  }

  .display-feature-text p {
    margin-top: 8px;
    font-size: var(--font-size-p-normal);
    line-height: 18px;
  }
  .features-translator {
    padding-top: 72px;
  }
  .features-translator .feature-text h2 {
    display: none;
  }
  .features-translator .feature-text p {
    margin-top: 0px;
  }
  .features-translator .feature-content-title {
    display: block;
    width: 100%;
    color: rgb(255, 250, 250);
    font-family: var(--font-family-en);
    font-size: var(--font-size-h3);
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  .features-translator .feature-content {
    flex-wrap: wrap;
  }
  .features-translator .feature-content .translator-window {
    width: 100%;
    height: 535px;
    border-radius: 10px;
    background-image: url('../images/chat-window-mobile.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .features-translator .feature-content .feature-text {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .video-showcase .video-placeholder {
    height: 535px;
  }
  .video-showcase .play-video-icon {
    width: 36px;
    height: 30px;
  }

  .video-placeholder .video-showcase-video-container,
  .video-placeholder .video-showcase-video-container video {
    height: 535px;
  }

  .manao-photo-section .manao-content {
    height: 535px;
  }
  .phone-desc-container {
    margin-top: 32px;
    padding-left: 78px;
  }
  .phone-desc-container .photo-text {
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    text-align: left;
    transform: translate(0, 0);
    padding-left: 12px;
    margin-bottom: 16px;

    color: rgb(255, 255, 255);
    font-family: var(--font-family-ak);
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
  }
  .phone-desc-container .photo-text:last-child {
    margin-bottom: 0px;
  }
  .phone-desc-container .photo-text::before {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--color-primary);
  }

  .video-showcase {
    padding-top: 72px;
  }
  .beyond-earth {
    margin-top: 72px;
  }
  .split-new-line {
    display: block;
  }
  .mobile-no-wrap {
    white-space: nowrap;
  }
  .mobile-capitalize {
    text-transform: capitalize;
  }
}

/* 添加基础响应式设置 */
html {
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

/* 优化移动端触摸体验 */
@media (hover: none) {
  .explore-btn:hover {
    background-color: var(--color-primary);
    color: var(--color-dark);
  }

  .pattern-card:hover {
    transform: none;
  }
}

/* SVG图标通用样式 */
svg {
  fill: currentColor;
}
